<header class="navbar is-black">
  <div class="navbar-start">
    <h1 class="title">Rescue Dog Society</h1>
       <% if (currentUser) { %>
      <a class="navbar-item" href="/rescue">All Dogs</a>
      <a class="navbar-item" href="/rescue/new">Add Dog</a>
      <li class="navbar-item">Welcome <%= currentUser.username %></li>
      <li class="nav-link">
        <form action="/sessions?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" />
        </form>
      </li>
      <% } else { %>
      <li><a class="nav-link" href="/users/new">Sign Up</a></li>
      <li><a class="nav-link" href="/sessions/new">Log In</a></li>
      <% } %>
  </div>
</header>