<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Rescue Page</title>
</head>
<body>
    <form action="/rescue" method="POST">
        <label for="name">name</label>
        <input name="name" type="text" id="name">
        <label for="sex">sex</label>
        <input name="sex" type="text" id="sex">
        <label for="size">size</label>
        <input name="size" type="text" id="size">
        <label for="color">color</label>
        <input name="color" type="text" id="color">
        <label for="breed">breed</label>
        <input name="breed" type="text" id="breed">
        <label for="lifeStage">life stage</label>
        <input name="lifeStage" type="text" id="lifeStage">
        <label for="img">img</label>
        <input name="img" id="img">
        <input type="submit">
    </form>
    <%- include ("./partials/footer.ejs") %>
</body>
</html>