body {
    background: #DDDBFF;
    background-size: cover;

}
h1 {
    color: #A2D5E1;
}
.nav-bar {
    width: 100%;
    padding: 16px 20px 30px 20px;
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}

img {
    max-width: 25%;
    clip-path: circle(40%);
    display: flex;

}

.nav-link {
    float: right;
    padding: 20px;
    text-decoration: none;
    
}